*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Roboto, Arial, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}
body {
	font-size: 18px;
	font-weight: 300;
}
.navbar {
	{width: 100%;}
}

.recommended-section { padding-right: 220px; }