*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Roboto, Arial, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}
body {
	font-size: 18px;
	font-weight: 300;
}
li.nav-item > img { margin: 0 auto; }
.logo-only { margin-left: 110px; }
.collapse > img { padding-left: 50px; }
 .button-addcart {
	background-color: white;
	border: 1px solid #6D4626;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	cursor: pointer;		
	border-radius: 2px;
	}
	.button-addcart:hover {
  	background: #ff9f1c;
  	color: black;
  	}
	.button-addcart:active{
  	background: black;
  	color: black;
  	}

.mySlides {display:none}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:10px;padding:0}

.w3-display-container,
.product-details,
.tab-container {width: 80%; margin: 0 auto; }
.w3-display-container { border: 1px solid lightgray; margin-top: 50px; }

h2 { font-weight: bold; padding: 20px 0 10px 0; }
h3.price { color: gray; font-weight: bold; font-size: 35px;}

.price {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: gutter;
}
.button-addtocart {
	background-color: white;
	border: 1px solid #6D4626;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	cursor: pointer;		
	border-radius: 2px;
	}
	.button-addtocart:hover{
  	background: #ff9f1c;
  	color: black;
  	}
	.button-addtocart:active{
  	background: black;
  	color: black;
  	}

/*TAB-CONTENT*/
.tab-content { margin: 0 40px; }
.tab-content > div { width: 100%; margin: 0 auto; }


.recommended-section { margin: 80%; }