
/*mobile > 320 */
@media only screen and (min-width: 320px) and (max-width: 400px) {

/*NAVIGATION BAR*/
.navbar { max-width: 400px; }
.navbar-logo > img { width: 75%; height: auto; }
.navbar-nav { display: inline-block; }
header {
	max-width: 400px;
	height: auto;
	margin: 0 auto; 
	padding-bottom: 30px;
	color: white;
	
}

.hero {
	display: grid;
	grid-template-columns: 1fr; 
	grid-gap: gutter;
	padding-top: 20px;
	padding:0;
}
	.hero-copy {
	width: 400px;
	margin: 0 auto;
	}

	.hero-image {
		margin-top: 70px; 
		margin-left: 10%;
		width: 25%;
	}

	h1 {
		margin-top: 10px;
		font-size: 30px;
		font-weight: bold;
		width: 400px;
		text-align: center;
		margin:0 auto;
	}

	p {
		margin: 40px 0 40px;
	}


/*tablet > 401px */
@media only screen and (min-width: 401px) and (max-width: 960px) {

 }

/*desktop > 961px */
/*@media only screen and (min-width: 961px) {
 	div[class^="feature-"] {
 		width: calc(100%/3);
 		float: left;
 	}
 }*/
