*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Roboto, Arial, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

body {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
}

/*NAVIGATION BAR*/
.navbar{
    background-color: #282828; max-width: 1280px; margin: 0 auto; height:100px; padding-left:20px;  
}
.navbar-logo { color: darkgray;  margin-left: 50px; }

.navbar-nav { padding-right: 30px; margin-right: 10px;}


/*HEADER*/
header{
/*	background: url();*/
	background-size: cover;
	background-color: #D4A67C; 
	max-width: 1280px;
	height: auto;
	margin: 0 auto; 
	padding: 0,;
	color: white;
}

.hero {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-gap: gutter;
	padding-top: 20px;
	padding:0;
}

	.hero-image {
		margin-top: 70px; 
		margin-left: 10%;
	}

	h1 {
		margin-top: 55px;
		font-size: 50px;
		font-weight: bold;
	}

	p {
		margin: 40px 0 40px;
	}

button { /*button-hero*/
	background-color: #6D4626;
	border: 1px solid #6D4626;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	cursor: pointer;		
	border-radius: 5px;
	}
	button:hover{
  	background: #ff9f1c;
  	color: black;
  	}


.fa-chevron-down {
    margin-top: 55px;
    color: white;	
    text-align: center;
    padding-left: 50%;
}


/*PRODUCT CONTAINER*/

.button-featured{
	background-color: white;
	border: 1px solid #6D4626;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	cursor: pointer;		
	border-radius: 2px;
	}
	.button-featured:hover{
  	background: #ff9f1c;
  	color: black;
  	}
	.button-featured:active{
  	background: black;
  	color: black;
  	}

.featured-section {
	padding: 50px 0;
}

.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-gap: gutter;
	padding-top: 20px;
	margin:0 auto;
	text-align: center;
	padding-left: 10px;
}
.products-item{
	padding-bottom: 50px;
}

.items { width: 80%; }

/*ABOUT SECTION*/
.about-section {
	padding-top: 20px;
	background-color: #E6E7E8;
	padding-bottom: 40px;
}
.about > h1, h2 {
	text-align: center;
}
strong {
	font-weight: bold;

}


/*BLOG SECTION*/
.blog-section {
	padding-top: 50px;
}
.blog-posts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	grid-gap: gutter;
	padding-top: 20px;
	padding-left: 30px;
	text-align: center;
}
.blog-post  {
	width: 300px;
	height: auto;
	padding: 0 10px;
	margin: 0 20px;
	text-align: center;
	}
.blog-image { width: 30%; }  	
.blog-title, .blog-description { text-align: left; color: black; margin: 25px 0px; }	
.section-description { text-align: center;}	

/*FOOTER*/
	footer{
		background-color: gray;

	}
