*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Roboto, Arial, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

body {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
}

/*NAVIGATION BAR*/
.navbar { background-color: #282828; max-width: 1280px; margin: 0 auto; padding-left:20px; }
.navbar-logo { color: darkgray; margin: 0 auto; margin-left: 5px; }
.navbar-nav { padding-left: 440px; margin: 0 auto;}
.navbar-nav li:hover {background-color: #ff9f1c; color: black; }


/*HEADER*/
header{
	background: url();*/
	background-size: cover;
	background-color: #D4A67C; 
	max-width: 1280px;
	height: auto;
	margin: 0 auto; 
	padding-bottom: 30px;
	color: white;
}

.hero {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-gap: gutter;
	padding-top: 20px;
	padding:0;
}

	.hero-image {
		margin-top: 70px; 
		margin-left: 10%;
	}

	h1 {
		margin-top: 90px;
		font-size: 50px;
		font-weight: bold;
	}

	p {
		margin: 40px 0 40px;
	}

button { /*button-hero*/
	background-color: #6D4626;
	border: 1px solid #6D4626;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	cursor: pointer;		
	border-radius: 5px;
	}
	button:hover{
  	background: #ff9f1c;
  	color: black;
  	}


.fa-chevron-down {
    margin-top: 55px;
    color: white;	
    text-align: center;
    padding-left: 50%;

}

.mySlides {display:none;}

/*SHOP-SECTION*/
.shop-section { padding: 50px 0; }
.button-featured {
	background-color: white;
	border: 1px solid #6D4626;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	cursor: pointer;		
	border-radius: 2px;
	}
	.button-featured:hover{
  	background: #ff9f1c;
  	color: black;
  	}
	.button-featured:active{
  	background: black;
  	color: black;
  	}

.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-gap: gutter;
	padding-top: 20px;
	margin:0 auto;
	text-align: center;
	padding-left: 10px;
}
.products-item{
	padding-bottom: 50px;
}

.items { width: 80%; }

/*ABOUT SECTION*/
.about-section {
	background-color: #E6E7E8;
	max-width: 1280px;
	padding-top: 50px;
	padding-bottom: 40px;
	margin: 0 auto; 
}
.about > h1, h2 {
	text-align: center;
}
strong {
	font-weight: bold;
}

/*BLOG SECTION*/
.blog-section { padding-top: 50px; }
.blog-posts {
	width: 1100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	grid-gap: gutter;
	padding-top: 20px;
	padding-left: 30px;
	margin: 0 auto;
}
.blog-post  {
	width: 300px;
	height: auto;
	padding: 0 10px;
	margin: 0 20px;
	text-align: center;
	}
.blog-image { width: 30%; transition: 2s;}  	
.blog-title, .blog-description { text-align: left; color: black; margin: 25px 0px; }	
.section-description { text-align: center;}	

/*CONTACT*/
.contact-section > h1 { text-align: center; margin: 0 auto; }
.contact-section { 
	background-color: #E6E7E8; 
	max-width: 1280px;
 	padding-top: 110px;
	margin: 0 auto; 
	padding-bottom: 20px; 	
}
.contact-container {
    padding: 20px;
    width: 65%;
    margin: 0 auto;
    padding-bottom: 50px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*SMALL-BANNER-SECTION*/
.small-banner-section{
	background-color: #ff9f1c; 
	max-width: 1280px;
	margin: 0 auto; 
	color: white;
	height: 280px;
	}
	.small-banner {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-gap: gutter;
	}
	.cellphone-image img {
	height: 250px;
	margin-top: 30px; 
	padding-left: 200px;
	}
	.banner-text { 
	width: 900px;
	padding-top: 40px;
	margin-left: 50px;
	padding-right: 200px;
	}

	.banner-text p { margin-bottom: 20px; color: gray; padding-left: 85px;}
	.appstore-icon img { width: 280px; padding-left: 80px;}

/*FOOTER*/
.footer-section {
	background-color: #282828;
	color: darkgray;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	padding:50px;

