/*tablet > 401px */
@media only screen and (min-width: 401px) and (max-width: 960px) {

header{
	max-width: 100%;
	height: auto;
	margin: 0 auto; 
	padding-bottom: 30px;
	color: white;
}

.hero {
	display: grid;
	grid-template-columns: 1fr; 
	grid-gap: gutter;
	padding-top: 20px;
	padding:0;
}

	.hero-image {
		margin-top: 70px; 
		margin-left: 10%;
	}

	h1 {
		margin-top: 55px;
		font-size: 50px;
		font-weight: bold;
	}

	p {
		margin: 40px 0 40px;
	}

/*BLOG SECTION*/
/*.blog-section { padding-top: 50px; }
.blog-posts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	grid-gap: gutter;
	padding-top: 20px;
	padding-left: 30px;
	text-align: center;
	width: 768px;
}
.blog-post  {
	width: 300px;
	height: auto;
	margin: 0 20px;
	text-align: center;
	}
.blog-image { width: 20%; }  	
.blog-title, .blog-description { text-align: left; color: black; margin: 25px 0px; }	
.section-description { text-align: center;}	

 }*/
